@import '/public/assets/css/variables';

.Liked {

    .writings {
        max-width: 100%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
        gap: 3rem;
        margin-bottom: 8rem;
        place-items: center;
        overflow-x: hidden;

        .loading {
            font-size: 1.6rem;
            font-weight: 500;
            width: 100%;
        }
    }
}