@import '/public/assets/css/variables';

.Profile {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;

    

    .user_activities {
        width: 100%;
        background: $neutral-000;
        border-radius: 1rem;
    }
}