@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import "/public/assets/css/variables.scss";

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    // overflow-x: hidden !important;
    overflow-y: auto;
    /* Take rems according to this font 1rem = 10px */

    @media screen and (max-width: 2300px) {
        font-size: 70%;
    }

    @media screen and (max-width: 2300px) and (min-width: 620px) {
        font-size: 62.5%;
    }

    @media screen and (max-width: 620px) {
        font-size: 57%;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    // overflow-x: hidden !important;
    // overflow-y: auto !important;
    background: $tint-orange;
}

.App {
    min-height: calc(100vh - $navbar-height);
    display: flex;
    flex-direction: column;
}