@import '/public/assets/css/variables';

.Profile_view_edit {

    // background: #586e83;
    background: $neutral-000;
    box-shadow: 0 0 1rem rgba(rgb(150, 150, 150), 0.1);
    padding: 2rem 1.6rem;
    border-radius: 1rem;
    // color: $neutral-000;
    height: max-content;
    width: 26rem;

    .profile_image {
        margin-bottom: 2rem;
        display: grid;
        place-items: center;

        .upload-img {
            border-radius: 50%;
            height: 10rem;
            width: 10rem;
            cursor: pointer;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                object-fit: cover;
                z-index: 0;
                border: 3px solid rgb(230, 225, 225);
            }

            &::after {
                content: "Upload";
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba($color: #000000, $alpha: 0.4);
                color: white;
                font-weight: 600;
                font-size: 1.2rem;
                display: grid;
                place-items: center;
                z-index: 1;
            }
        }
    }

    .img_wrapper {
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            object-fit: cover;
            z-index: 0;
            border: 3px solid rgb(226, 145, 145);
        }
    }



    .profile_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .username {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: .3rem;
        }

        .email {
            font-size: 1.3rem;
            font-weight: 500;
            color: $neutral-400;
            margin-bottom: 3rem;
        }

        .achivements {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            .total_posts {
                display: flex;
                align-items: center;
                gap: .4rem;
                font-size: 1.4rem;
                font-weight: 500;

                svg {
                    color: rgb(36, 127, 97);
                    font-size: 1.1rem;
                }

                .value {
                    color: $neutral-400;
                }
            }

            .like {

                svg {
                    font-size: 1.4rem;
                    color: rgb(211, 68, 68);
                }
            }
        }

        input {
            background: transparent;
            border: none;
            border-bottom: 1px solid $neutral-500;
            text-align: center;
            padding: 0.2rem 0;
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: .5rem;
            width: 100%;
            outline: none;
        }


    }

    .btn_edit,
    .btn_save {
        margin-top: 6rem;
        width: 16rem;
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .6rem;
        background: rgb(36, 127, 97);
        color: white;
        cursor: pointer;
        padding: .6rem 1.4rem;
        border-radius: 1rem 2rem;
        margin-bottom: 1rem;

        &:hover {
            background: rgb(32, 114, 87);
        }

        svg {
            font-size: 1.2rem;
        }
    }

    .btn_delete {
        width: 16rem;
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .6rem;
        background: rgb(211, 68, 68);
        color: white;
        cursor: pointer;
        padding: .6rem 1.4rem;
        border-radius: 1rem 2rem;
        margin-bottom: 1rem;

        &:hover {
            background: rgb(185, 60, 60);
        }

        svg {
            font-size: 1.2rem;
        }
    }

}