@import '/public/assets/css/variables';

.Navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: $navbar-height;
    width: 100%;
    font-family: 'Marko One', serif;
    z-index: $z-navbar;

    &.scrolled {
        background: $tint-orange;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    }

    .logo {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1.5rem;

        img {
            width: 1.6rem;
        }
    }

    .utils {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.4rem;
    }
}