@import '/public/assets/css/variables';

.Explore {
    .filter_container {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 5rem;
        margin-top: 2rem;

        input {
            border: 2px solid $neutral-400;
            outline: none;
            background: transparent;
            border-radius: $br-0;
            padding: .6rem 1rem;
            font-size: 1.4rem;
            width: 40rem;
            font-weight: 500;
        }

        .filter_dropdown {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: .6rem;
            font-size: 1.4rem;
            margin-left: auto;
            font-weight: 500;

            img {
                width: 1.4rem;
            }
        }
    }

    .authors_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
        grid-column-gap: 9rem;
        grid-row-gap: 5rem;
        margin-bottom: 8rem;
        place-items: center;
    }
}